In [1]:
import pandas as pd

## Data from Gdelt database, csv was extracted using Google Big Query

In [2]:
df = pd.read_csv("newsdata_gdelt (1).csv")

/Users/abdeslamguessous/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3343: DtypeWarning: Columns (21,55) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [22]:
df

,GLOBALEVENTID,SQLDATE,MonthYear,Year,FractionDate,Actor1Code,Actor1Name,Actor1CountryCode,Actor1KnownGroupCode,Actor1EthnicCode,...,ActionGeo_Type,ActionGeo_FullName,ActionGeo_CountryCode,ActionGeo_ADM1Code,ActionGeo_ADM2Code,ActionGeo_Lat,ActionGeo_Long,ActionGeo_FeatureID,DATEADDED,SOURCEURL
0,484067995,20151112,201511,2015,2015.8548,BUS,CORPORATION,NaN,NaN,NaN,...,1,Belarus,BO,BO,NaN,53.0000,28.0000,BO,20151112004500,http://www.sabah.com.tr/ekonomi/2015/11/12/san...
1,534126853,20160425,201604,2016,2016.3151,GOV,CHIEF EXECUTIVE,NaN,NaN,NaN,...,1,Luxembourg,LU,LU,NaN,49.7500,6.1667,LU,20160425213000,http://sputniknews.com/europe/20160426/1038600...
2,429485215,20150429,201504,2015,2015.3260,BUS,BANK,NaN,NaN,NaN,...,2,"New Jersey, United States",US,USNJ,NaN,40.3140,-74.5089,NJ,20150429193000,http://www.financialbuzz.com/bitcoin-exchange-...
3,508658058,20160204,201602,2016,2016.0932,GOV,GOVERNMENT,NaN,NaN,NaN,...,1,Somalia,SO,SO,NaN,10.0000,49.0000,SO,20160204180000,http://noticias.lainformacion.com/economia-neg...
4,491912679,20151207,201512,2015,2015.9233,USA,UNITED STATES,USA,NaN,NaN,...,1,Turkmenistan,TX,TX,NaN,40.0000,60.0000,TX,20151207124500,http://azertag.az/xeber/Noyabrda_BTC_kemeri_il...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220872,882329771,20191025,201910,2019,2019.8082,USAGOV,UNITED STATES,USA,NaN,NaN,...,3,"Dallas Baptist University, Texas, United States",US,USTX,NaN,32.7099,-96.9472,1945601,20191025220000,http://www.bpnews.net/53824/sbtcerlc-partnersh...
220873,882493613,20191026,201910,2019,2019.8110,USAGOV,UNITED STATES,USA,NaN,NaN,...,2,"Texas, United States",US,USTX,NaN,31.1060,-97.6475,TX,20191026221500,http://bpnews.net/53824/sbtcerlc-partnership-p...
220874,876948137,20191003,201910,2019,2019.7479,USAGOV,NEW YORK,USA,NaN,NaN,...,2,"Texas, United States",US,USTX,NaN,31.1060,-97.6475,TX,20191003001500,https://www.smh.com.au/business/markets/the-wo...
220875,786963475,20180914,201809,2018,2018.6959,BUS,COMPANIES,NaN,NaN,NaN,...,2,"Texas, United States",US,USTX,NaN,31.1060,-97.6475,TX,20180914080000,https://thebitcoinnews.com/busted-texas-man-ge...
220876,748822398,20180418,201804,2018,2018.2959,MEX,MEXICO,MEX,NaN,NaN,...,2,"Texas, United States",US,USTX,NaN,31.1060,-97.6475,TX,20180418210000,http://www.bpnews.net/50720/sbtc-staffer-mike-...

In [34]:
df_SOURCEURL.loc[3]

SOURCEURL    http://noticias.lainformacion.com/economia-neg...
Name: 3, dtype: object

In [43]:
# String processing

lst = []
for i in range(len(df)):
    str_input = df.SOURCEURL[i]
    if str_input[-1]!= '/':
        str_out = str_input.split('/')[-1].replace('-',' ').replace('_',' ')
    else:
        str_out = str_input.split('/')[-2].replace('-',' ').replace('_',' ')
    lst.append(str_out)

In [46]:
df_URL_prep = pd.DataFrame (lst, columns = ['URL Preprocessed'])

In [51]:
df_out = df
df_out['URL Preprocessed'] = df_URL_prep['URL Preprocessed']

In [18]:
df_SOURCEURL = pd.DataFrame(df.SOURCEURL)

In [21]:
df_SOURCEURL.loc[0]

SOURCEURL    http://www.sabah.com.tr/ekonomi/2015/11/12/san...
Name: 0, dtype: object

In [17]:
type(pd.DataFrame(df_SOURCEURL) )

pandas.core.frame.DataFrame

In [9]:
df.head(10).to_csv('extract_newsdata_gdelt.csv')

In [7]:
df['SOURCEURL'].head(5)

0    http://www.sabah.com.tr/ekonomi/2015/11/12/san...
1    http://sputniknews.com/europe/20160426/1038600...
2    http://www.financialbuzz.com/bitcoin-exchange-...
3    http://noticias.lainformacion.com/economia-neg...
4    http://azertag.az/xeber/Noyabrda_BTC_kemeri_il...
Name: SOURCEURL, dtype: object

In [54]:
df_out.to_csv('Extract_news_data_gdelt Preprocessed.csv')

# ABC dataset

In [3]:
df_abc = pd.read_csv("/Users/mac/Downloads/abcnews-date-text.csv")

In [4]:
df_abc

         publish_date                                      headline_text
0            20030219  aba decides against community broadcasting lic...
1            20030219     act fire witnesses must be aware of defamation
2            20030219     a g calls for infrastructure protection summit
3            20030219           air nz staff in aust strike for pay rise
4            20030219      air nz strike to affect australian travellers
...               ...                                                ...
1244179      20211231  two aged care residents die as state records 2...
1244180      20211231  victoria records 5;919 new cases and seven deaths
1244181      20211231    wa delays adopting new close contact definition
1244182      20211231  western ringtail possums found badly dehydrate...
1244183      20211231  what makes you a close covid contact here are ...

[1244184 rows x 2 columns]

In [8]:
df_abc_bitcoin = df_abc[df_abc["headline_text"].str.contains("bitcoin")]

In [9]:
df_abc_bitcoin

         publish_date                                      headline_text
779415       20130417                          kohler value bitcoin gold
829358       20131026    us seizes bitcoins from man linked to silk road
832559       20131108                   bitcoin site hacked founder says
836519       20131124                                            bitcoin
837808       20131129  british it worker searches landfill for bitcoi...
...               ...                                                ...
1236521      20210513  tesla ceo elon musk suspends the use of bitcoi...
1236699      20210520  bitcoin continues plunge after china puts hand...
1237554      20210617     bitcoin explained: everything you need to know
1237754      20210623   the tech behind bitcoin; crypto and defi shaking
1240314      20210908  bitcoin price slumps as el salvador makes it l...

[132 rows x 2 columns]

In [26]:
df_abc_btc = df_abc[df_abc["headline_text"].str.contains("btc")]

In [27]:
df_abc_btc

         publish_date                                   headline_text
613824       20110514                       race call btc cup doomben
693640       20120509       bufferings hopes slump after btc cup draw
785856       20130511                cummings colt on song in btc cup
873287       20140510           famous seamus wins btc cup at doomben
1036073      20160707  vanuatu pm salwai hesitates over vbtc shambles
1215356      20200926           btc e vinnik bitcoin money laundering

# huff post dataset

In [6]:
df_huff_post = pd.read_json("/Users/mac/Downloads/News_Category_Dataset_v3.json",lines=True)

In [7]:
df_huff_post

,link,headline,category,short_description,authors,date
0,https://www.huffpost.com/entry/covid-boosters-...,Over 4 Million Americans Roll Up Sleeves For O...,U.S. NEWS,Health experts said it is too early to predict...,"Carla K. Johnson, AP",2022-09-23
1,https://www.huffpost.com/entry/american-airlin...,"American Airlines Flyer Charged, Banned For Li...",U.S. NEWS,He was subdued by passengers and crew when he ...,Mary Papenfuss,2022-09-23
2,https://www.huffpost.com/entry/funniest-tweets...,23 Of The Funniest Tweets About Cats And Dogs ...,COMEDY,"""Until you have a dog you don't understand wha...",Elyse Wanshel,2022-09-23
3,https://www.huffpost.com/entry/funniest-parent...,The Funniest Tweets From Parents This Week (Se...,PARENTING,"""Accidentally put grown-up toothpaste on my to...",Caroline Bologna,2022-09-23
4,https://www.huffpost.com/entry/amy-cooper-lose...,Woman Who Called Cops On Black Bird-Watcher Lo...,U.S. NEWS,Amy Cooper accused investment firm Franklin Te...,Nina Golgowski,2022-09-22
...,...,...,...,...,...,...
209522,https://www.huffingtonpost.com/entry/rim-ceo-t...,RIM CEO Thorsten Heins' 'Significant' Plans Fo...,TECH,Verizon Wireless and AT&T are already promotin...,"Reuters, Reuters",2012-01-28
209523,https://www.huffingtonpost.com/entry/maria-sha...,Maria Sharapova Stunned By Victoria Azarenka I...,SPORTS,"Afterward, Azarenka, more effusive with the pr...",,2012-01-28
209524,https://www.huffingtonpost.com/entry/super-bow...,"Giants Over Patriots, Jets Over Colts Among M...",SPORTS,"Leading up to Super Bowl XLVI, the most talked...",,2012-01-28
209525,https://www.huffingtonpost.com/entry/aldon-smi...,Aldon Smith Arrested: 49ers Linebacker Busted ...,SPORTS,CORRECTION: An earlier version of this story i...,,2012-01-28
209526,https://www.huffingtonpost.com/entry/dwight-ho...,Dwight Howard Rips Teammates After Magic Loss ...,SPORTS,The five-time all-star center tore into his te...,,2012-01-28

In [16]:
df_huff_post_bitcoin = df_huff_post[df_huff_post["short_description"].str.contains("bitcoin")]

In [17]:
df_huff_post_bitcoin

,link,headline,category,short_description,authors,date
4825,https://www.huffpost.com/entry/trump-hydroxych...,The Strange Origins Of Trump’s Hydroxychloroqu...,POLITICS,"How a “philosopher” who tweets anti-Semitism, ...",Nick Robins-Early,2020-05-13
12934,https://www.huffingtonpost.com/entry/the-20-fu...,The 20 Funniest Tweets From Women This Week,WOMEN,"How to use bitcoins, Sam Nunberg jokes and more.",Hollis Miller,2018-03-09
16210,https://www.huffingtonpost.com/entry/bitcoin_u...,Bitcoin Plummets On Fears Of Regulatory Crackd...,BUSINESS,The latest tumble leaves bitcoin more than 40 ...,,2018-01-16
130433,https://www.huffingtonpost.com/entry/teracoin-...,Teracoin -- A Digital Currency Minted by the L...,BUSINESS,I'd like to propose a digital currency that ac...,"Costa Michailidis, ContributorCo-Founder of In...",2014-05-27
135627,https://www.huffingtonpost.com/entry/wildcat-b...,Bitcoin: the New Era of Wildcat Banking,MONEY,"Bitcoin transactions, unlike credit card purch...","Lisa Colletti, Contributor\nPrincipal at Aspir...",2014-03-27
138018,https://www.huffingtonpost.com/entry/bitcoins-...,Bitcoins and Animal Spirits,BUSINESS,For a few years I've been warning about the da...,"Said Elias Dawlabani, Contributor\nAuthor, Cul...",2014-03-01
138774,https://www.huffingtonpost.com/entry/bitcoin-t...,Bitcoin Turmoil: Proof of Concept or Fatal Flaw?,MONEY,It turns out that there seems to be tiny littl...,"Jim Gibson, Contributor\nPersonal Finance writ...",2014-02-21
139393,https://www.huffingtonpost.com/entry/will-mort...,Will Mortgages Ever Be Transacted in Bitcoins?,MONEY,That this question gets asked with increasing ...,"Jack Guttentag, Contributor\nProfessor of Fina...",2014-02-14
149874,https://www.huffingtonpost.com/entry/bitcoins-...,U.S. Seizes $28 Million In Bitcoins From Alleg...,TECH,(Reporting by Joseph Ax; Editing by Lisa Shuma...,"Reuters, Reuters",2013-10-26
167077,https://www.huffingtonpost.com/entry/miner-mik...,"Miner Mike, the Bitcoin Minter",TECH,"In 2009, my friend Mike was getting into bitco...","John Pavley, Contributor\nCTO @ The Huffington...",2013-04-27
168422,https://www.huffingtonpost.com/entry/paul-krug...,Paul Krugman: Bitcoins Would Have Been Conside...,BUSINESS,Though there are many enthusiasts cheering the...,,2013-04-13

In [30]:
df_huff_post_BTC = df_huff_post[df_huff_post["short_description"].str.contains("BTC")]

In [31]:
df_huff_post_BTC

,link,headline,category,short_description,authors,date
169682,https://www.huffingtonpost.com/entry/state-dep...,State Department's Keystone XL Contractor ERM ...,ENVIRONMENT,Like today's KXL proposal -- which would only ...,"Steve Horn, Contributor\nResearch Fellow for D...",2013-03-31